---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/HomePage/Menu/Menu.astro";
import Header from "../components/HomePage/Header/Header.astro";
import Main from "../components/HomePage/Main/Main.astro";
import Img1 from "../assets/Main/img-1.png";
---

<Layout>
	<Menu />
	<Header />
	<Main />
	<div id="demo-logs"></div>
	<!-- <button id="notifyBtn">Enviar Notificación</button> -->
</Layout>

<style lang="scss">
	.bottom-img {
		position: absolute;
		width: 100vw;
		bottom: 0px;
	}
</style>

<!-- <script is:inline>
	document.getElementById("notifyBtn").addEventListener("click", () => {
		// Verificar si el navegador soporta notificaciones
		if (!("Notification" in window)) {
			alert("Tu navegador no soporta notificaciones.");
			return;
		} else {
			// alert("Tu navegador soporta notifiaciones")
		}
		if (Notification.permission === "granted") {
			new Notification("Hola 👋", {
				body: "Esta es una notificación de prueba.",
				icon: "https://via.placeholder.com/128", // Icono opcional
			});
		} else if (Notification.permission === "default") {
			Notification.requestPermission().then((permission) => {
				if (permission === "granted") {
					new Notification("Hola 👋", {
						body: "Gracias por permitir las notificaciones.",
						icon: "https://via.placeholder.com/128",
					});
				} else {
					alert("Has bloqueado las notificaciones.");
				}
			});
		} else {
			alert("Has bloqueado las notificaciones.");
		}

		navigator.serviceWorker.register("sw.js");
		Notification.requestPermission(function (result) {
			if (result === "granted") {
				navigator.serviceWorker.ready.then(function (registration) {
					registration.showNotification(
						"Notification with ServiceWorker",
					);
				});
			}
		});

		// Verificar permiso de notificaciones
	});
</script> -->