---
---

<header class="header">
    <h1 class="header__title">Verificar Código</h1>
    <h2 class="header__subtitle">TheCube<span class="header__subtitle__restaurant">World</span></h2>
</header>

<style lang="scss">
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #000;

        &__title{
            font-size: 95px;
            font-family: 'Bebas Neue', sans-serif;
        }

        &__subtitle{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
        }
    }
</style>