---
//Components
import Layout from "../layouts/Layout.astro";
import Header from "../components/Stats/Header/Header.astro";
import Main from "../components/Stats/Main/Main.astro";
---
<Layout title="Stats">
    <Header></Header>
    <Main></Main>
</Layout>